.image-section {
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        h3 {
            font-family: "Nothing You Could Do";
            font-size: 130px;
            letter-spacing: 8px;
            font-weight: 400;
            color: #fff;
        }

        p {
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
        }

        .btn {
            color: white;
            font-family: "Rubik";
            font-weight: 500;
            font-size: 15px;
            margin-top: 2rem;
        }
    }

    .information {
        height: 15vh;
        width: 100%;
        background-color: #040E27;

        .form {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 40px;
            margin: 0 90px;
            font-family: "Rubik";

            h3 {
                font-size: 24px;
                color: #fff;
                font-weight: 400;
            }

            input {
                border: 1px solid white;
                border-radius: 7px;
                background-color: transparent;
                padding: 15px;
            }

            select {
                border: 1px solid white;
                border-radius: 7px;
                background-color: transparent;
                padding: 15px;
                color: #757575;
            }

        }
    }

}

@media (max-width:991px) {
    .image-section{
        .image{
            height: 50vh;
        }
        .text{
            gap: 20px;
            h3{
                font-size: 60px;
                letter-spacing: 3px;  
            }
            p{
                text-align: center;
            }
            .btn{
                margin-top: 0;
            }
        }
    }
}