footer {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    font-family: "Rubik";
    background-color: #040E27;
    color: white;

    .info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10%;
        color: #AAB1B7;
        padding-bottom: 5%;

        .logo_and_info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 7%;

            .logo_image {
                padding-bottom: 7%;
            }

            p {
                padding-right: 35%;
                line-height: 1.5;

            }

            .social {
                padding-top: 10%;
                display: flex;
                padding-right: 40%;
                justify-content: space-between;
            }
        }

        .addition {
            display: flex;
            // justify-content: space-around;
            // align-items: center;
            gap:40px;
            // padding-right: 10px;
            h3 {
                font-size: 20px;
                font-weight: 400;
                // padding: 7% 0 10% 0;
                padding-bottom: 10%;
                color: white;
            }
            .company { ul{
                line-height: 2;
                li {
            a {
                color: #AAB1B7;
            }
                }
            }
                
            }
.popular-destination {
.all-list {
    display: flex;
    gap: 25px;
    line-height: 2;
    a {
        color: #AAB1B7;
    }
}
}
            .instagram {
                .instagram-photos{
                    display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                border-radius: 10px;
                overflow: hidden;
                }
            }
        }

    }
    .ending {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: #7A838B;
        border-top: 1px solid #7A838B;
        padding: 3% 20% 20px 20%;
       p {
        &:first-child{
            border-right: 2px solid #7A838B;
            padding: 0 15px;
        }
        &:last-child{
            span {
                color: $header-color;
            }
        }
       }
    }

}