header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Rubik";

    .toggle-menu {
        display: none;
        margin-bottom: .3rem;
        i{
            color: $header-color;
            font-size: 25px;
        }
     }

    nav {
        display: flex;
        justify-content: start;
        align-items: center;

        .logo {
            padding: 0 2rem;
        }

        .navbar {
            gap: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 0 3px 2rem;
            border-left: 1px solid #a4a4a4;

            li {
                margin: 0 10px;

                a {
                    color: black;
                    font-size: 16px;
                    font-weight: 400;
                    transition: 0.2s;
                    &:hover {
                        color: $btn-color;
                    }
                }
            }
        }



    }

    .connect {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 40px;

        .phone {
            display: flex;
            align-items: center;
            gap: 12px;
            border-right: 1px solid #a4a4a4;
            padding: 3px 1rem;

            svg {
                fill: $header-color;
                height: 20px;
                width: 20px;
            }
        }

        .social {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                color: $gray-color;
                transition: 0.4s;
                &:hover {
                    color: $header-color;
                }
            }
        }

        .box {
            padding: 45px;
            background-color: $header-color;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: white;
            }
        }
    }
}

@media (max-width:991px) {
    header {
        padding-left: 1rem;
        .toggle-menu{
            display: block;
        }
         nav {
            .logo {
                padding: 0;
            }
            .navbar {
                display: none;
            }
        }
        .connect {
 
            .phone {
                display: none;
            }
            .social {
                display: none;
            }
            .box {
                padding: 25px;
            }
        }
    }
}